
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}


.card {
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 40px;
    cursor: pointer;
   
}


.card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}


.card-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0;
}


.card-age {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-10px);
  
}